{% extends "base.html.twig" %}

{% block body %}

{#<h1>Pizzaria MK</h1>#}
{#{%  for value in pizzas %}#}
{#<li>{{ value }}</li>#}
{#{% endfor %}#}
{#<p>{{ name }}</p>#}

    <style>.jumbotron{
            background-image: url("../img/banner.jpg");
            height: 250px;
            background-position: center;
            background-repeat: no-repeat;
        }
    </style>

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <br><br><br>
            <h1 class="display-4" style="color:white"><b>Pizzeria Ruben</b></h1>
        </div>
    </div>

    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active text-white bg-dark" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white bg-dark" href="/categories">Pizza's</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white bg-dark" href="/contact">Contact</a>
            </li>
        </ul>

        <br>
        <br>
        <!-- Slideshow container -->



    <div class="row gy-3">
        {%  for value in pizza %}
            <div class="col-4">
                <div class="card text-white bg-dark" style="width: 18rem;">
                    <img src="img/{{ value }}.jpg" class="card-img-top" alt="{{ value }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ value }}</h5>
                        <p class="card-text">{{ value }}</p>
                        <a href="/categories/{{ loop.index }}" class="btn btn-text-white bg-dark">See all</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <br>


    </div>




{% endblock%}




